#window {
    font-family: "Vazirmatn", sans-serif;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    padding: 10px;
}

#input {
    background-color: white;
    color: black;
    border-radius: 10px;
    outline-color: rgba(0, 165, 255, 0.8);
    border: none;
}

#entry {
    padding: 8px;
    margin: 6px;
    border-radius: 10px;
    color: white;
}

#entry:selected {
    background-color: rgba(0, 165, 255, 0.8);
    outline: none;
    border: none;
}

#entry image {
    margin-right: 12px;
    min-width: 24px;
    min-height: 24px;
}

#expander-box {
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    margin-top: 10px;
}